<p>Farmer's Market Booth Leasing Management System Contract</p>
<p>Lessor: (hereinafter called Party A) Lessee: (hereinafter called Party B) </p>
<p>In order to strengthen the standardized management of the farmers' market and clarify the rights and obligations of the lessor and lessee, in accordance with the Contract Law, the Regulations of Guangdong Province on the Administration of Commodity Exchange Market and other relevant regulations, Party A and Party B reach the following agreement on matters related to the leasing of shop (stall) in the market. </p>
<p>Article 1 Conditions and Uses of the Lease Item (See the attached table for details)</p>
<p>Article 2 Lease Term (See the attached table for details)</p>
<p>Article 3 Rental and other payments as well as the time limit and method of payment</p>
<p>(1) Rental (see the attached table for details)</p>
<p>(2) Term of rent payment:</p>
<p>Payment method: overdue payment of liquidated damages on a daily basis.</p>
<p>(3) Party B shall pay performance deposit, facility deposit and water and electricity deposit to Party A when signing this contract, which shall be used as the deposit for performance of this contract and operation standard deposit for market standard management. Upon expiration, Party B shall return or pay off the creditor's rights and debts arising out of this contract without interest.</p>
<p>(4) Party B must pay the water and electricity charges and the normal water and electricity loss contribution on time, as well as the health expenses and comprehensive security expenses on time.
Time of payment: Late fee added on a daily basis for late payment.</p>
<p>(5) Party B shall, in accordance with the provisions of national laws and regulations, implement the market food access management system such as purchase inspection, request for certificate and ticket, and make a good food import (sale) account.
If the food import (sale) account fails to be established due to objective reasons, Party A may entrust Party A to do the account, and Party A will charge the corresponding service fee and pay the payment time:.
</p>
<p>Attached Table: main contents of year lease contract</p>
<p>Main contents of lease contract alteration</p>



