{% extends "base.html" %}
{% block content %}
    <form method="get" class="form form-horizontal" style="padding-top:40px;">
        {% for exp in filter.form %}
            <div class="form-group">
                <label class="col-md-2" class="sr-only">{{ exp.label }}</label>
                <div class="col-md-8">
                    {{ exp }}
                </div>
            </div>
        {% endfor %}
        <div class=" text-center">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    <hr>
    <div class="result-area">
        {% load render_table from django_tables2 %}
        {% if filter.qs.count > 0 %}
            {% render_table table %}
            {% else %}
            <div class="alert alert-danger">
                Sorry, No Result!
            </div>
        {% endif %}
    </div>
    <script>
        $('input').addClass('form-control');
        $('select').addClass('form-control');
    </script>
{% endblock %}